.form-control,
.form-select,
.search form {
  font-size: .875rem;
}

.form-control {
  border-radius: 4px;
  padding: 6px 10px;
  border: 1px solid #bfbfbf;
}

.gl-field-error,
.invalid-feedback {
  color: #dd2b0e;
  font-size: .875rem;
}

.form-text.text-muted {
  margin-bottom: 0;
  margin-top: .25rem;
  font-size: .875rem;
}

.gl-show-field-errors .form-control:not(textarea) {
  height: 34px;
}

.gl-show-field-errors .gl-field-error-outline {
  border: 1px solid #dd2b0e;
}

// .form-control.ng-invalid {
//   border: 1px solid #dd2b0e;
// }

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: .375rem 0;
  margin-bottom: 0;
  font-size: .875rem;
  line-height: 1.5;
  color: #666;
  background-color: initial;
  border: solid transparent;
  border-width: 0;
}

.form-readonly label {
  margin-bottom: 0;
}
