.top-area {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  height: 48px;

  .mat-icon {
    font-size: .9rem;
    height: 16px;
    width: 16px;
  }
}

.gp-tabs-nav {
  border-style: solid;
  border-color: #dbdbdb;
  border-width: 0;
  border-bottom-width: 1px;
}

.gp-tab-nav-item {
  color: #303030;
  padding: 1rem .75rem;
  line-height: 1rem;
  font-size: .875rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: box-shadow 100ms linear;
}

.gp-tab-nav-item-active {
  font-weight: 600;
  color: #303030;
  box-shadow: inset 0 -2px 0 0 var(--gp-theme-accent, #6666c4);
}

.top-area .nav-controls {
  display: inline-block;
  text-align: right;
}
@media (min-width: 768px) {
  .top-area .nav-controls {
    display: flex;
    align-items: center;
  }
}

.gp-tab-content {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .875rem;
  line-height: 1rem;
  color: #303030;
}

.tab-content {
  overflow: visible;
}

.gp-badge.sm {
  padding-top: 0;
  padding-bottom: 0;
}

.gp-badge.sm {
  padding-top: 0;
  padding-bottom: 0;
}

.gp-badge.badge-muted {
  background-color: #f0f0f0;
  color: #666;
}

.gp-tab-nav-item > .gp-tab-counter-badge {
  font-weight: inherit;
  margin-left: .25rem;
}

.gp-tab-nav-item:hover {
  color: #303030;
}

.gp-tab-nav-item:hover:not(.gp-tab-nav-item-active) {
  box-shadow: inset 0 -2px 0 0 #bfbfbf;
}

.top-area .nav-controls > .btn,
.top-area .nav-controls > .btn-container,
.top-area .nav-controls > .btn-group,
.top-area .nav-controls > .dropdown,
.top-area .nav-controls > form,
.top-area .nav-controls > input {
  margin-right: 8px;
}
