@use "@angular/material" as mat;

@use "@material/icon-button/styles";

// $font-family-default: '"Titillium Web", sans-serif';
$font-family-default: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-family-monospace: '"Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace';

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

@import '@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: $font-family-default,
  $title: mat-typography-level(24px, 24px, normal, $font-family-default),
  $subheading-2: mat-typography-level(18px, 20px, normal),
  $button: mat-typography-level(14px, 18px, normal, $font-family-default),
  $body-1: mat-typography-level(14px, 18px, 400),
  $input: mat-typography-level(inherit, 1.6, 400)
);
@include mat-core($custom-typography);

$mat-light-theme-foreground: (
  text: rgba(33, 33, 33, 1),
  label: rgba(33, 33, 33, .5),
  light: rgba(33, 33, 33, .05),
  transit: rgba(33, 33, 33, .1),
  border: rgba(33, 33, 33, .2),
  context: rgba(33, 33, 33, .25),
  reverse: rgba(255, 255, 255, 1)
);
$dark-primary-text: map-get($mat-light-theme-foreground, text);
$light-primary-text: map-get($mat-light-theme-foreground, reverse);

$text-color: rgba(33, 33, 33, 1);
$text-2nd-color: rgba(33, 33, 33, .5);
$text-3rd-color: rgba(33, 33, 33, .6);

$reverse-text-color: #ffffff;

$sidenavWidth: 310px;

$background-color: #BBDEFB;
$background-2nd-color: #E3F2FD;
$background-3rd-color: #F5F5F5;
$background-4th-color: rgba(255, 255, 255, .75);
$background-5th-color: rgba(0, 0, 0, .05);
$background-6th-color: rgba(33, 33, 33, .05);
$background-nth-color: #fff;

:root {
  --theme-primary-50: #FDEAEA;
  --theme-primary-100: #FACBCB;
  --theme-primary-200: #EF9A9A;
  --theme-primary-300: #F48785;
  --theme-primary-400: #F16D6A;
  --theme-primary-500: #EF5350;
  --theme-primary-600: #ED4C49;
  --theme-primary-700: #EB4240;
  --theme-primary-800: #E83937;
  --theme-primary-900: #E42927;
  --theme-primary-A100: #FFFFFF;
  --theme-primary-A200: #FFEDED;
  --theme-primary-A400: #FFBBBA;
  --theme-primary-A700: #FFA2A1;

  --theme-accent-50: #E1F5FE;
  --theme-accent-100: #B3E5FC;
  --theme-accent-200: #81D4FA;
  --theme-accent-300: #4FC3F7;
  --theme-accent-400: #29B6F6;
  --theme-accent-500: #03A9F4;
  --theme-accent-600: #039BE5;
  --theme-accent-700: #0288D1;
  --theme-accent-800: #0277BD;
  --theme-accent-900: #01579B;
  --theme-accent-A100: #80D8FF;
  --theme-accent-A200: #40C4FF;
  --theme-accent-A400: #00B0FF;
  --theme-accent-A700: #0091EA;
}

$mat-app-accent: (
  50 : var(--theme-accent-50),
  100 : var(--theme-accent-100),
  200 : var(--theme-accent-200),
  300 : var(--theme-accent-300),
  400 : var(--theme-accent-400),
  500 : var(--theme-accent-500),
  600 : var(--theme-accent-600),
  700 : var(--theme-accent-700),
  800 : var(--theme-accent-800),
  900 : var(--theme-accent-900),
  A100 : var(--theme-accent-A100),
  A200 : var(--theme-accent-A200),
  A400 : var(--theme-accent-A400),
  A700 : var(--theme-accent-A700),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);

$mat-app-primary: (
  50 : var(--theme-primary-50),
  100 : var(--theme-primary-100),
  200 : var(--theme-primary-200),
  300 : var(--theme-primary-300),
  400 : var(--theme-primary-400),
  500 : var(--theme-primary-500),
  600 : var(--theme-primary-600),
  700 : var(--theme-primary-700),
  800 : var(--theme-primary-800),
  900 : var(--theme-primary-900),
  A100 : var(--theme-primary-A100),
  A200 : var(--theme-primary-A200),
  A400 : var(--theme-primary-A400),
  A700 : var(--theme-primary-A700),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text
  )
);
// @include mat.core($custom-typography);
$primary-base: var(--theme-primary-base);
$accent-base: var(--theme-accent-base);
$app-primary: mat.define-palette($mat-app-primary, 500);
$app-accent: mat.define-palette($mat-app-accent, A700);
$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));
@include mat.all-component-themes($app-theme);

$mat-fontsize: map-get(map-get($custom-typography, body-1), font-size);
$primary-text: map-get($mat-light-theme-foreground, text);
$secondary-text: map-get($mat-light-theme-foreground, label);
$primary-color: mat.get-color-from-palette($app-primary);
$secondary-color: var(--theme-accent-50);
$tertiary-color: map-get($mat-light-theme-foreground, border);
$accent-color: mat.get-color-from-palette($app-accent);
$alert-color: mat.get-color-from-palette($app-warn);
$warn-color: rgb(250, 250, 0);
$badge-active-color: rgb(239, 154, 154);
$shadow-color: rgba(0, 0, 0, .16);
$background-color: rgba(245, 245, 245, 1);
$dark-background-color: rgba(237, 237, 237, 1);
$transit-color: map-get($mat-light-theme-foreground, transit);
$reverse-primary-text: $light-primary-text;
$light-color: map-get($mat-light-theme-foreground, light);

:root {

  --table-header-background-color: #{$light-color};
  --table-row-background-color: #{$reverse-primary-text};
  --table-row-hover: #{$secondary-color};
  --table-header-color: #{$secondary-text};

  // Components
  // app-nav-bar
  --app-bar-color: #{$reverse-primary-text};
  --app-bar-background-color: #{$primary-color};
  --contextual-bar-color: #{$reverse-primary-text};
  --contextual-bar-background-color: #{$primary-text};
  --context-bar-color: #{$primary-text};
  --context-bar-background-color: #{$dark-background-color};
  --context-message-bar-color: #{$primary-text};
  --context-message-bar-background-color: #{$reverse-primary-text};
  --twin-context-action-color: #{map-get($mat-light-theme-foreground, context)};
  // app
  --content-background-color: #{$background-color};
  // comunicazioni
  --message-background-color: #{$reverse-primary-text};
  --message-bar-background-color: #{$dark-background-color};
  --message-bar-chips-color: #{$transit-color};
  --message-header-color: #{$secondary-text};
  // Library
  // LinkFabGroup
  --fab-group-color: #{$primary-text};
  --fab-group-icon-color: #{$reverse-primary-text};
  // LinkGroup
  --group-border-color: #{$tertiary-color};
  --group-border-color-hover: #{$secondary-color};
  // TitleDeco
  --art-deco-color: #{$primary-color};
  // FabExtended
  --fab-extended-background: #{$accent-color};
  --fab-extended-color: #{$reverse-primary-text};
  // SimpleItem
  --simple-item-background-color: #{$reverse-primary-text};
  --simple-item-hover: #{$secondary-color};
  --simple-item-notify-color: #{$alert-color};
  --simple-item-metadata-color: #{$secondary-text};
  --simple-item-hover-action-color: #{$reverse-primary-text};
  --simple-item-action-color: #{$reverse-primary-text};
  --simple-item-action-background-color: #{$accent-color};
  --simple-item-hover-action-background-color: #{$primary-text};
  // TwinItem
  --twin-item-background-color: #{$reverse-primary-text};
  --twin-item-hover: #{$secondary-color};
  --twin-item-notify-color: #{$alert-color};
  --twin-item-secondary-text-color: #{$secondary-text};
  --twin-item-hover-action-color: #{$reverse-primary-text};
  --twin-item-action-color: #{$reverse-primary-text};
  --twin-item-action-background-color: #{$accent-color};
  --twin-item-hover-action-background-color: #{$primary-text};
  // CollapseItem
  --collapse-item-hover: #{$secondary-color};
  // Card
  --card-hover-background-color: #{$secondary-color};
  // Card: Extended
  --e-card-secondary-text-color: #{$secondary-text};
  --e-card-link-hover-color: #{$accent-color};
  // Field
  --link-field-color: #{$primary-text};
  --link-field-permalink-color: #{$accent-color};
  --link-field-label-color: #{$secondary-text};
  // FragmentMenu
  --anchor-fragment-color: #{$secondary-text};
  --anchor-fragment-active-color: #{$accent-color};
  --anchor-fragment-background-color: #{$background-color};
  // Badge
  --badge-color: #{$primary-text};
  --badge-active-color: #{$primary-text};
  --badge-background-active-color: #{$badge-active-color};
  // Repeater
  --role-button-color: #{$reverse-primary-text};
  --role-button-focus-color: #{$accent-color};
  --role-button-background-color: #{$primary-text};
  // System viewer
  --system-viewer-active-element-color: #{$accent-color};
  --system-viewer-parent-active-element-color: #{$secondary-text};
  // Link: hover color
  --link-hover-color: #{$primary-color};
}
