<header class="navbar navbar-gitlab navbar-expand-sm js-navbar" *ngIf="_showHeaderBar">
  <div class="container-fluid">
    <div class="header-container w-100">
      <app-head-bar
        [title]="_title"
        [logo]="_config.AppConfig.Layout.Header.logo"
        [loggedIn]="_session"
        [login]="_session"
        [username]="_session?.principal"
        [menu-action-list]="_menuActions"
        [menu-app-action-list]="_menuAppActions"
        [menu-shell-action]="_menuShellAction"
        [language-list]="_languages"
        [show-language-menu]="false"
        [current-language]="_language"
        (on-change-language)="_onChangeLanguage($event)"
        (on-menu-action)="_onMenuHeaderAction($event)"
        (on-menu-app-action)="_onMenuAppHeaderAction($event)">
      </app-head-bar>
    </div>
  </div>
</header>
<div class="layout-page hide-when-top-nav-responsive-open" [ngClass]="{ 'page-with-contextual-sidebar': _isGovShell && !_notSideBar, 'page-with-icon-sidebar': _sideBarCollapsed && desktop && (_isGovShell && !_notSideBar) }">
  <aside class="nav-sidebar" [ngClass]="{ 'sidebar-collapsed-desktop': _sideBarCollapsed && desktop, 'sidebar-expanded-mobile': !_sideBarCollapsed && !desktop && !mobile || _openSideBar  }" *ngIf="_isGovShell && !_notSideBar">
    <div class="nav-sidebar-inner-scroll">
      <div class="w-100 text-center mt-3" *ngIf="_spin"><span class="spinner-border spinner-border-sm text-muted" *ngIf="_spin"></span></div>
      <ul class="sidebar-top-level-items" *ngIf="!_spin">
        <ng-container *ngFor="let _item of navItems">
          <ng-container *ngIf="true">
            <li class="" [ngClass]="{ 'js-collapsed-desktop': _sideBarCollapsed && desktop, 'js-expanded-mobile': _sideBarCollapsed && !desktop, 'js-mobile': mobile, 'expanded': (_item.expanded && mobile) || _forceMenuOpen, 'force-menu-open': _forceMenuOpen }" [appRouterLinkMatch]="{ 'active': _item.path + '' }" appFlyOut>
              <ng-container [ngSwitch]="sidebarNavHelper.itemType(_item)">
                <ng-container *ngSwitchCase="'title'">
                  <a class="gl-link cursor-pointer" [class.has-sub-items]="_item?.children?.length" (click)="_onClickMenu($event, _item)">
                    <span class="nav-icon-container">
                      <mat-icon fontSet="material-icons-outlined" *ngIf="sidebarNavHelper.hasIcon(_item)">{{ _item.icon}}</mat-icon>
                    </span>
                    <span class="nav-item-name">{{ _item.label + '' | translate }}</span>
                    <!-- <span class="gl-badge badge rounded-pill badge-info text-dark sm count issue_counter">580</span> -->
                  </a>
                  <ul class="sidebar-sub-level-items">
                    <li class="fly-out-top-item" [appRouterLinkMatch]="{ 'active': _item.path + '' }">
                      <span class="fly-out-top-item-container">
                        <strong class="fly-out-top-item-name">{{ _item.label + '' | translate }}</strong>
                      </span>
                    </li>
                    <li class="divider fly-out-top-item"></li>
                    <li class="" *ngFor="let _subItem of _item.children" [appRouterLinkMatch]="{ 'active': _subItem.path + '' }">
                      <a class="gl-link cursor-pointer" (click)="_onClickMenu($event, _subItem)">
                        <!-- <span class="nav-icon-container">
                          <mat-icon fontSet="material-icons-outlined" *ngIf="sidebarNavHelper.hasIcon(_subItem)">{{ _subItem.icon}}</mat-icon>
                        </span> -->
                        <span class="">{{ _subItem.label + '' | translate }}</span>
                        <!-- <span class="gl-badge badge rounded-pill badge-info text-dark sm count issue_counter">580</span> -->
                      </a>
                    </li>
                  </ul>
                </ng-container>
              </ng-container>
            </li>
          </ng-container>
        </ng-container>
      </ul>

      <a class="toggle-sidebar-button js-toggle-sidebar qa-toggle-sidebar rspec-toggle-sidebar" role="button" title="Toggle sidebar" type="button" (click)="__toggelCollapse()">
        <!-- <i class="bi" [class.bi-chevron-double-right]="_sideBarCollapsed" [class.bi-chevron-double-left]="!_sideBarCollapsed"></i> -->
        <mat-icon fontSet="material-icons-outlined">{{ (_sideBarCollapsed) ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left' }}</mat-icon>
        <span class="collapse-text gp-ml-3">{{ 'APP.BUTTON.CollapseSidebar' | translate }}</span>
      </a>
      <button name="button" type="button" class="close-nav-button" (click)="__closeSideBar()">
        <!-- <i class="bi bi-x-lg"></i> -->
        <mat-icon fontSet="material-icons-outlined">close</mat-icon>
        <span class="collapse-text gl-ml-3">{{ 'APP.BUTTON.CloseSidebar' | translate }}</span>
      </button>
    </div>
  </aside>
  <div class="content-wrapper" [ngClass]="{'content-wrapper-margin': _isGovShell || _notSideBar}">
    <div class="mobile-overlay" [class.mobile-nav-open]="_openSideBar" (click)="__closeSideBar()" *ngIf="_isGovShell"></div>
    <div class="container-fluid" [ngClass]="{'container-limited': _isGovShell, 'px-0': !_isGovShell, 'py-0': !_isGovShell}">
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
<app-spinner *ngIf="_spin"></app-spinner>
<app-multi-snackbar></app-multi-snackbar>
<div #watermark class="staging-box d-flex align-items-center justify-content-center" *ngIf="_config.AppConfig?.Watermark && _config.AppConfig?.WatermarkText">
  <span class="text-truncate">{{ _config.AppConfig?.WatermarkText }}</span>
</div>
