<div id="route-section" class="">
  <div class="alert-wrapper gp-force-block-formatting-context">
    <ui-breadcrumb [breadcrumbs]="breadcrumbs"></ui-breadcrumb>
  </div>
  <section class="container-fluid container-limited container-scroller container-scroller-no-search px-0 container-scroller-no-top-area">
    <ui-box-spinner [color]="'accent'" [diameter]="48" [strokeWidth]="4" *ngIf="_spin"></ui-box-spinner>
    <ng-container>
      <div class="dashboard" *ngIf="!_spin">
        <h4 class="d-none">{{ 'APP.TITLE.Applications' | translate }}</h4>
        <div class="ui-application-grid other-menu app-switcher-menu position-relative mt-4" tabindex="0">
          <div class="ui-application-grid-scroll-container position-relative">
            <ng-container *ngFor="let menu of _menuAppActions">
              <div class="ui-application-grid-item app-switcher-grid-cell" [ngClass]="{'menu-disabled': !menu.enabled}" role="menuitem" tabindex="-1" (click)="_onMenuAppAction(menu)">
                <div class="app-icon">
                  <ng-container [ngSwitch]="menu.type">
                    <ng-container *ngSwitchCase="'image'">
                      <img [src]="menu.image">
                    </ng-container>
                    <ng-container *ngSwitchCase="'bootstrap'">
                      <div class="d-flex justify-content-center app-icon-image"
                        [ngStyle]="{'background-color': menu.bgColor, 'color': menu.color}">
                        <i class="bi bi-{{ menu.icon || 'app' }} symbol-icon align-self-center" *ngIf="menu.icon"></i>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'material'">
                      <div class="d-flex justify-content-center app-icon-image"
                        [ngStyle]="{'background-color': menu.bgColor, 'color': menu.color}">
                        <mat-icon fontSet="material-icons-outlined" *ngIf="menu.micon">{{ menu.micon }}</mat-icon>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'svg'">
                      <!-- <div class="d-flex justify-content-center app-icon-image"
                        [ngStyle]="{'background-color': menu.bgColor, 'color': menu.color}"> -->
                        <img [src]="menu.iconUrl" *ngIf="menu.iconUrl">
                      <!-- </div> -->
                    </ng-container>
                  </ng-container>
                </div>
                <div class="app-switcher-app-name" role="presentation">{{ menu.title }}</div>
              </div>
            </ng-container>
          </div>
        </div>

      </div>
    </ng-container>
  </section>
</div>
