.sidebar-top-level-items {
  margin-top: .25rem;
  margin-bottom: 60px;

  li > a.gl-link {
    color: #303030;
  }

  .context-header a {
    padding: .25rem;
    margin-bottom: .25rem;
    margin-top: 0;
  }
}

.sidebar-sub-level-items {
  padding-top: 0;
  padding-bottom: 0;
  display: none;
}

.gp-badge {
  display: inline-flex;
  align-items: center;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  padding: .25rem .5rem;

  &.sm {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.badge-info {
    background-color: #cbe2f9 !important;
    color: #0b5cad !important;
  }
}

.avatar,
.avatar-container {
  float: left;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.08);
}

.avatar {
  transition-property: none;
  width: 40px;
  height: 40px;
  padding: 0;
  background: #fdfdfd;
  overflow: hidden;
  border-color: rgba(0,0,0,0.1);
}

.avatar-container.s32,
.avatar.s32 {
  width: 32px;
  height: 32px;
  // margin-right: 8px;
}

.rect-avatar.s32 {
  border-radius: 4px;
}

.avatar-container .avatar {
  border-radius: 0;
  border: 0;
  height: auto;
  width: 100%;
  margin: 0;
  align-self: center;
}

.avatar-container {
  overflow: hidden;
  display: flex;
}

.sidebar-top-level-items .context-header a .avatar-container {
  font-weight: 400;
  flex: none;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 8%);
}

.sidebar-top-level-items .context-header a .avatar-container.rect-avatar .avatar.s32 {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 8%);
}

.context-header .sidebar-context-title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #303030;
}

.context-header > a,
.context-header > button {
  transition: padding .3s;
  font-weight: 600;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 16px 10px 10px;
  color: #303030;
  background-color: transparent;
  border: 0;
  text-align: left;
}

.context-header > a:focus,
.context-header > a:hover,
.context-header > button:focus,
.context-header > button:hover {
  background-color: rgba(48,48,48,0.06);
  color: #303030;
  outline: 0;
}

.sidebar-top-level-items li > a.gl-link {
  color: var(--navbar-color, #303030);
}

.sidebar-sub-level-items:not(.fly-out-list) li > a {
  padding-left: 2rem;
}

.identicon {
  text-align: center;
  vertical-align: top;
  color: #303030;
  background-color: #f0f0f0;
}

.identicon.s32 {
  font-size: 14px;
  line-height: 32px;
}

.divider {
  height: 0;
  margin: 0.75rem !important;
  overflow: hidden;
  /* border: 1px solid #dbdbdb; */
  background-color: #dbdbdb;
  padding: 1px 0px 0 0 !important;
}

// WIP

.nav-sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  transition: width .3s, left .3s;
  z-index: 600;
  width: var(--side-bar-width, 256px);
  top: var(--header-height, 40px);
  background-color: var(--navbar-back-color, #f5f5f5);
  border-right: 1px solid var(--navbar-border-color, #e9e9e9);
  transform: translate3d(0, 0, 0);
}

.nav-sidebar.sidebar-collapsed-desktop {
  width: 56px;
}

.nav-sidebar.sidebar-collapsed-desktop .nav-sidebar-inner-scroll {
  overflow-x: hidden;
}

.nav-sidebar.sidebar-collapsed-desktop .badge.badge-pill:not(.fly-out-badge),
.nav-sidebar.sidebar-collapsed-desktop .collapse-text,
.nav-sidebar.sidebar-collapsed-desktop .nav-item-name {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.nav-sidebar.sidebar-collapsed-desktop .sidebar-top-level-items > li > a {
  min-height: unset;
}

.nav-sidebar.sidebar-collapsed-desktop .fly-out-top-item:not(.divider) {
  display: block !important;
}

.nav-sidebar.sidebar-collapsed-desktop .avatar-container {
  margin: 0 auto;
}

.nav-sidebar.sidebar-collapsed-desktop li.active:not(.fly-out-top-item) > a {
  background-color: rgba(41, 41, 97, 0.08);
}

.nav-sidebar.sidebar-expanded-mobile {
  left: 0;
}

.nav-sidebar a {
  text-decoration: none;
  color: var(--navbar-color, #303030);
}

.nav-sidebar li {
  white-space: nowrap;
}

.nav-sidebar li .nav-item-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-sidebar li > .fly-out-top-item-container,
.nav-sidebar li > a {
  padding: .5rem .75rem;
  display: flex;
  align-items: center;
  border-radius: .25rem;
  width: auto;
  line-height: 1rem;
  transition: none;
  margin: 1px 8px;
}

.nav-sidebar li > .fly-out-top-item-container:hover,
.nav-sidebar li > a:hover {
  background-color: rgba(41, 41, 97, 0.08);
}

.nav-sidebar li > a.divider:hover {
  background-color: transparent;
}

.nav-sidebar li.active > a,
.nav-sidebar li.expanded > a {
  font-weight: 600;
}

.nav-sidebar li.active:not(.fly-out-top-item) > a:not(.has-sub-items) {
  background-color: rgba(41, 41, 97, 0.08);
}

.nav-sidebar ul {
  padding-left: 0;
  list-style: none;
}
@media (max-width: 767.98px) {
  .nav-sidebar {
    left: var(--side-bar-left-hidden, -256px);
  }
}

.nav-sidebar .nav-icon-container {
  display: flex;
  margin-right: 8px;
}

.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item {
  display: none;
}

.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item .fly-out-top-item-container,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item a,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item a:hover,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item.active a {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: default;
  pointer-events: none;
  font-size: .75rem;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  margin-top: 0;
  position: relative;
  color: #fff;
  background: var(--black, #000);
}

.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item .fly-out-top-item-container strong,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item a strong,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item a:hover strong,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item.active a strong {
  font-weight: 400;
}

.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item .fly-out-top-item-container::before,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item a::before,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item a:hover::before,
.nav-sidebar a:not(.has-sub-items)+.sidebar-sub-level-items .fly-out-top-item.active a::before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: -0.25rem;
  margin-top: -0.25rem;
  width: 0;
  height: 0;
  border-top: .25rem solid transparent;
  border-bottom: .25rem solid transparent;
  border-right: .25rem solid #000;
  border-right-color: var(--black, #000);
}
@media (min-width: 576px) {
  .nav-sidebar a.has-sub-items+.sidebar-sub-level-items {
    min-width: 150px;
  }
}

.nav-sidebar a.has-sub-items+.sidebar-sub-level-items .fly-out-top-item {
  display: none;
}

.nav-sidebar a.has-sub-items+.sidebar-sub-level-items .fly-out-top-item .fly-out-top-item-container,
.nav-sidebar a.has-sub-items+.sidebar-sub-level-items .fly-out-top-item a,
.nav-sidebar a.has-sub-items+.sidebar-sub-level-items .fly-out-top-item a:hover,
.nav-sidebar a.has-sub-items+.sidebar-sub-level-items .fly-out-top-item.active a {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: default;
  pointer-events: none;
  font-size: .75rem;
  margin-top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-sidebar a.has-sub-items+.sidebar-sub-level-items.fly-out-list {
  margin-top: -0.25rem;
}

.nav-sidebar a.has-sub-items+.sidebar-sub-level-items.fly-out-list.is-above {
  margin-top: .25rem;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .nav-sidebar:not(.sidebar-expanded-mobile) {
    width: 56px;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .nav-sidebar-inner-scroll {
    overflow-x: hidden;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .badge.badge-pill:not(.fly-out-badge),
  .nav-sidebar:not(.sidebar-expanded-mobile) .collapse-text,
  .nav-sidebar:not(.sidebar-expanded-mobile) .nav-item-name {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .sidebar-top-level-items > li > a {
    min-height: unset;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .fly-out-top-item:not(.divider) {
    display: block !important;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .avatar-container {
    margin: 0 auto;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) li.active:not(.fly-out-top-item) > a {
    background-color: rgba(41, 41, 97, 0.08);
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .context-header {
    height: 60px;
    width: 48px;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .context-header a {
    padding: 10px 4px;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .sidebar-context-title {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .context-header {
    height: auto;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .context-header a {
    padding: .25rem;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .sidebar-top-level-items > li .sidebar-sub-level-items:not(.flyout-list) {
    display: none;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .nav-icon-container {
    margin-right: 0;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .toggle-sidebar-button {
    width: 56px;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .toggle-sidebar-button .collapse-text {
    display: none;
  }

  .nav-sidebar:not(.sidebar-expanded-mobile) .toggle-sidebar-button .icon-chevron-double-lg-left {
    transform: rotate(180deg);
    margin: 0;
  }
}

.nav-sidebar-inner-scroll {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-sidebar-inner-scroll > div.context-header {
  margin-top: .25rem;
}

.nav-sidebar-inner-scroll > div.context-header a {
  padding: .5rem .75rem;
  display: flex;
  align-items: center;
  border-radius: .25rem;
  width: auto;
  line-height: 1rem;
  transition: none;
  margin: 1px 4px;
  padding: .25rem;
  margin-bottom: .25rem;
  margin-top: 0;
}

.nav-sidebar-inner-scroll > div.context-header a:hover {
  background-color: rgba(41, 41, 97, 0.08);
}

.nav-sidebar-inner-scroll > div.context-header a .avatar-container {
  font-weight: 400;
  flex: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.nav-sidebar-inner-scroll > div.context-header a .avatar-container.rect-avatar {
  border-style: none;
}

.nav-sidebar-inner-scroll > div.context-header a .avatar-container.rect-avatar .avatar.s32 {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.sidebar-top-level-items {
  margin-top: .25rem;
  margin-bottom: 60px;
}

.sidebar-top-level-items .context-header a {
  padding: .25rem;
  margin-bottom: .25rem;
  margin-top: 0;
}

.sidebar-top-level-items .context-header a .avatar-container {
  font-weight: 400;
  flex: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.sidebar-top-level-items .context-header a .avatar-container.rect-avatar {
  border-style: none;
}

.sidebar-top-level-items .context-header a .avatar-container.rect-avatar .avatar.s32 {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.sidebar-top-level-items > li.active .sidebar-sub-level-items:not(.is-fly-out-only),
.sidebar-top-level-items > li.expanded .sidebar-sub-level-items:not(.is-fly-out-only) {
  display: block;
}

.sidebar-top-level-items li > a.gl-link {
  color: var(--navbar-link-color, #303030);
}

.sidebar-top-level-items li > a.gl-link:active,
.sidebar-top-level-items li > a.gl-link:focus,
.sidebar-top-level-items li > a.gl-link:focus:active {
  text-decoration: none;
}

.sidebar-sub-level-items {
  padding-top: 0;
  padding-bottom: 0;
  display: none;
}

.sidebar-sub-level-items:not(.fly-out-list) li > a {
  padding-left: 2.25rem;
}
@media (min-width: 576px) {
  .is-showing-fly-out .sidebar-sub-level-items {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: .5rem;
    margin-top: 0;
    padding: 0 0 .25rem;
    background-color: #fafafa;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.24), 0 0 .125rem rgba(0, 0, 0, 0.24);
    border-style: none;
    border-radius: 4px;
  }

  .is-showing-fly-out .sidebar-sub-level-items .divider {
    display: none;
  }

  .is-showing-fly-out .sidebar-sub-level-items .divider+li > a {
    margin-top: .25rem;
  }

  .is-showing-fly-out .sidebar-sub-level-items li:last-of-type a {
    margin-bottom: 0;
  }

  .is-showing-fly-out .sidebar-sub-level-items.is-above {
    margin-top: 0;
  }
}

.is-showing-fly-out .sidebar-sub-level-items a {
  padding-left: .75rem;
  padding-right: .75rem;
}

.is-showing-fly-out .sidebar-sub-level-items .fly-out-top-item > a {
  display: flex;
}

.is-showing-fly-out .sidebar-sub-level-items .fly-out-top-item .fly-out-badge {
  margin-left: 8px;
}

.is-showing-fly-out .sidebar-sub-level-items .fly-out-top-item-name {
  flex: 1;
}

.close-nav-button,
.toggle-sidebar-button {
  transition: width .3s;
  height: 48px;
  padding: 0 16px;
  border: 0;
  color: var(--navbar-color, #666);
  display: flex;
  align-items: center;
  background-color: var(--navbar-toggle-back-color, #f5f5f5);
  border-top: 1px solid var(--navbar-border-color, #dbdbdb);
  border-right: 1px solid var(--navbar-border-color, #e9e9e9);
  position: fixed;
  bottom: 0;
  width: var(--side-bar-button-width, 255px);
  font-size: .875rem;
}

.close-nav-button:hover,
.toggle-sidebar-button:hover {
  background-color: var(--navbar-toggle-over-color, #dbdbdb);
  color: #303030;
}

.close-nav-button .collapse-text,
.close-nav-button .icon-chevron-double-lg-left,
.close-nav-button .icon-chevron-double-lg-right,
.toggle-sidebar-button .collapse-text,
.toggle-sidebar-button .icon-chevron-double-lg-left,
.toggle-sidebar-button .icon-chevron-double-lg-right {
  color: inherit;
}

.collapse-text {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-collapsed-desktop .context-header {
  height: 60px;
  width: 48px;
}

.sidebar-collapsed-desktop .context-header a {
  padding: 10px 4px;
}

.sidebar-collapsed-desktop .sidebar-context-title {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sidebar-collapsed-desktop .context-header {
  height: auto;
}

.sidebar-collapsed-desktop .context-header a {
  padding: .25rem;
}

.sidebar-collapsed-desktop .sidebar-top-level-items > li .sidebar-sub-level-items:not(.flyout-list) {
  display: none;
}

.sidebar-collapsed-desktop .nav-icon-container {
  margin-right: 0;
}

.sidebar-collapsed-desktop .toggle-sidebar-button {
  width: 55px;
  padding: 0 21px;
}

.sidebar-collapsed-desktop .toggle-sidebar-button .collapse-text {
  display: none;
}

.sidebar-collapsed-desktop .toggle-sidebar-button .icon-chevron-double-lg-left {
  transform: rotate(180deg);
  margin: 0;
}

.close-nav-button {
  display: none;
}
@media (max-width: 767.98px) {
  .close-nav-button {
    display: flex;
  }

  .toggle-sidebar-button {
    display: none;
  }

  .mobile-overlay {
    display: none;
  }

  .mobile-overlay.mobile-nav-open {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 300;
  }
}

.settings-avatar svg {
  margin: auto;
}
