:host {
  display: block;
  position: relative;
}

.highlighter-box {
  white-space: pre;
  line-height: 44px;
  background-color: var(--bs-gray-100);

  .highlight-item {
    position: relative;
    border: 1px dashed #666;
    padding: 0 5px;
    margin: 0 2px;

    .highlight-tooltip {
      position: absolute;
      top: -18px;
      left: -1px;
      padding: 0 4px;
      background-color: #212121;
      color: #ffffff;
      font-size: .7em;
      width: 66px;
      line-height: 16px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
